*.swp
*.xml
*.db

/Block_Youtube_Users/*
/Includes_Persist_BETA/*
/YouTube_+/*
/Download_YouTube_Videos_as_MP4/*
/TextHighlighter/*
/questoesColab/*
/Pergamum_features/*
/YoutubeTags/Disable_SPF_Youtube.user.js
/*/*.min.js
*private*
*/*private*
*/*private*

testes/*

testeCreateGist/Date.prototype.formatar.js
