**/*.swp
**/*.xml
**/*.db
**/*.txt

/Block_Youtube_Users/*
/Includes_Persist_BETA/*
/YouTube_+/*
/Download_YouTube_Videos_as_MP4/*
/TextHighlighter/*
/questoesColab/*
/Pergamum_features/*
/CodeBench_Minimal/*
/YoutubeTags/Disable_SPF_Youtube.user.js
**/*.min.js
**/*private*

testes
ShowData

testeCreateGist/Date.prototype.formatar.js
