**/*.swp
**/*.xml
**/*.db
**/*.txt
**/*.min.js
**/*private*

node_modules

/Block_Youtube_Users/
/Includes_Persist_BETA/
/YouTube_+/
/Download_YouTube_Videos_as_MP4/
/TextHighlighter/
/questoesColab/
/Pergamum_features/
/CodeBench_Minimal/
/YoutubeTags/Disable_SPF_Youtube.user.js

testes/
ShowData/
mysession2/

testeCreateGist/Date.prototype.formatar.js
